*.tif
*.tiff
*.lif

*.pyc
*.csv
*.xls
*.obj
.vscode/
__pycache__/
/.metadata/

# Eclipse #
/.classpath
/.project
/.settings/
/doc

# Maven #
/target/

.qt_for_python/

/resources/

# PyInstaller #
/build/
/dist/
*.spec

# Sphinx (docs) #
_build
_static
_templates