*.tif
*.tiff
*.lif

*.pyc
*.csv
*.xls
*.obj
# .vscode/
__pycache__/
/.metadata/

/resources/*

# Eclipse #
/.classpath
/.project
/.settings/
/doc

# Maven #
/target/

.qt_for_python/

/resources/
/*.egg-info/

# PyInstaller #
/build/
/dist/
*.spec

# Sphinx (docs) #
_build