numpy
pandas
scipy
matplotlib

imageio
aicsimageio
tifffile
bioformats-jar
python-bioformats
python-javabridge
rpy2
py4j

PySide2
PyOpenGL
pyqtgraph

opencv-python
Pillow
scikit-image
scikit-learn
SimpleITK
vedo
vtk

xmlschema
xmltodict
