aicsimageio==4.7.0
matplotlib==3.4.3
numpy==1.21.2
pandas==1.4.2
py4j==0.10.9.5
PySide2==5.15.2.1
PySimpleGUI==4.60.0
qimage2ndarray==1.9.0
scipy==1.8.0
SimpleITK==2.1.1.2
tiffile==2018.10.18
vedo==2022.2.3
vispy==0.10.0
scikit-image
bioformats_jar
opencv-python
pyqt5-tools
pyqtgraph