aicsimageio==4.9.2
bioformats-jar==2020.5.27
imageio==2.22.1
matplotlib==3.6.0
numpy==1.23.3
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
py4j==0.10.9.7
PyOpenGL==3.1.6
pyqtgraph==0.13.1
PySide2==5.12.1
python-bioformats==4.0.6
python-javabridge==4.0.3
rpy2==3.5.4
scikit-image==0.19.3
scipy==1.9.1
SimpleITK==2.2.0
tifffile==2022.8.12
tiffile==2018.10.18
vedo==2021.0.6
vtk==9.2.2
xarray==2022.9.0
xmlschema==1.11.3
xmltodict==0.13.0
